
// Converted Variables

$Form-padding: $g-controls-spaceV $g-controls-spaceH !default;
$Form-fontSize: $g-fontSize !default;
$Form-width: 100% !default;
$Form-borderRadius: $g-borderRadius !default;
$Form-fill: transparent !default;
$Form-borderSize: $g-controls-borderSize !default;
$Form-borderColor: $g-controls-color !default;
$Form-height: $g-controls-height !default;
$Form-shadow: inset 0 1px 1px rgba(0, 0, 0, .08) !default;
$Form-transition: border ease-in-out .15s, box-shadow ease-in-out .15s !default;
$Form-focus-color: $g-notice-light !default;
$Form-focus-shadow: inset 0 1px 1px $Form-focus-color, 0 0 8px $Form-focus-color !default;
$Form-disable-fill: $g-gray-20 !default;


/*　sircus-components-form
======================================== */

.Input,
.Textarea,
.Select {
  font-size: $Form-fontSize;
  line-height: inherit;
  display: inline-block;
  box-sizing: border-box;
  padding: $Form-padding;
  width: $Form-width;
  transition: $Form-transition;
  vertical-align: middle;
  border: $Form-borderSize solid $Form-borderColor;
  border-radius: $Form-borderRadius;
  box-shadow: $Form-shadow;
}

.Input,
.Select {
  height: $Form-height;
}

.Input,
.Textarea {
  background-color: $Form-fill;
}

.Input {
  -webkit-appearance: none;
}

.Input.is-focus,
.Textarea.is-focus,
.Select.is-focus,
.Input:focus,
.Textarea:focus,
.Select:focus {
  border: $Form-borderSize solid $Form-focus-color;
  outline: 0;
  box-shadow: $Form-focus-shadow;
}

.Input.is-disabled,
.Textarea.is-disabled,
.Select.is-disabled,
.Input[disabled],
.Textarea[disabled],
.Select[disabled] {
  cursor: not-allowed;
  opacity: .5;
  background-color: $Form-disable-fill;
}
